actions:
  czdeps: yarn global add commitizen @metahub/cz-conventional-commit
  fontcache: fc-cache -rv
  install_fonts: sudo ./dotfiles/config/fontconfig/fonts/install.sh
  install_vimplug: |
    test -e ~/.vim/autoload/plug.vim || (
    curl -fLo ~/.local/share/nvim/site/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    nvim +PlugInstall +qall )
  install_astronvim: |
    test -e ~/.config/nvim/init.lua || (
    mkdir -p ~/.config/nvim
    git clone https://github.com/AstroNvim/AstroNvim ~/.config/nvim
    nvim  --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
    )
  exec_yay: yay -S --needed --noconfirm --useask {0}
  exec_pipenv: pipenv install --dev && pipenv run {0}
  pre:
    install_pkgs: yay -S --needed --noconfirm --useask $(grep -v '^\s*$\|^\s*\#' packages.txt)
    install_pip: pip install --user -r pip-packages.txt
    install_pyenv: command -v pyenv || curl https://pyenv.run | bash
    install_poetry: |
      test -e ~/.poetry/bin/poetry || (
      curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | python
      mkdir $ZSH/plugins/poetry
      poetry completions zsh > $ZSH/plugins/poetry/_poetry
      )
  post:
    loginstall: echo {{@@ _dotfile_abs_src @@}} installed to {{@@ _dotfile_abs_dst
      @@}} >> {0}
    make_pkg: pushd /tmp && yay -G {0} && cd {0} && makepkg -sci --noconfirm --skippgpcheck
      && popd
config:
  backup: true
  banner: true
  create: true
  dotpath: dotfiles
  default_actions:
  - loginstall "/tmp/dotdrop-installation.log"
  ignoreempty: false
  keepdot: false
  longkey: false
  showdiff: false
  workdir: ~/.config/dotdrop
  minversion: 1.10.3
dotfiles:
  d_fontconfig:
    dst: ~/.config/fontconfig
    link: link_children
    src: config/fontconfig
    actions:
    - fontcache
  d_kitty:
    dst: ~/.config/kitty
    link: link_children
    src: config/kitty
  d_autofs:
    dst: ~/.config/autofs
    link: link_children
    src: config/autofs
    actions:
    - install_pip
    - make_pkg "autofs"
    - exec_pipenv "sudo python ./dotfiles/config/autofs/install.py"
  d_scripts:
    dst: ~/.scripts
    link: link_children
    src: scripts
  d_yay:
    dst: ~/.config/yay
    link: link_children
    src: config/yay
    actions:
    - install_pkgs
    - fontcache
  f_czrc:
    dst: ~/.czrc
    link: absolute
    src: czrc
  f_gitconfig:
    dst: ~/.gitconfig
    link: absolute
    src: gitconfig
  f_vimrc:
    dst: ~/.vimrc
    link: absolute
    src: vimrc
  f_zshenv:
    dst: ~/.zshenv
    link: absolute
    src: zshenv
  f_zshrc:
    dst: ~/.zshrc
    link: absolute
    src: zshrc
    # actions:
    # - install_pyenv
    # # - install_pip
    # - install_poetry
  d_hotkeys:
    src: hotkeys
    dst: ~/.hotkeys
    link: link_children
  d_direnv:
    src: config/direnv
    dst: ~/.config/direnv
    link: link_children
    upignore:
    - allow
  d_sway:
    src: config/sway
    dst: ~/.config/sway
  f_xresources:
    src: Xresources
    dst: ~/.Xresources
    link: absolute
  f_xdefaults:
    src: Xdefaults
    dst: ~/.Xdefaults
    link: absolute
  d_environment.d:
    src: config/environment.d
    dst: ~/.config/environment.d
    link: link_children
  d_alacritty:
    src: config/alacritty
    dst: ~/.config/alacritty
    link: link_children
  d_waybar:
    src: config/waybar
    dst: ~/.config/waybar
    link: link_children
  d_wofi:
    src: config/wofi
    dst: ~/.config/wofi
    link: link_children
  d_mako:
    src: config/mako
    dst: ~/.config/mako
    link: link_children
  d_omz_custom:
    src: oh-my-zsh/custom
    dst: ~/.oh-my-zsh/custom
    link: link_children
    upignore:
    - plugins
    - themes
  f_p10k.zsh:
    src: p10k.zsh
    dst: ~/.p10k.zsh
    link: absolute
  d_qutebrowser:
    src: config/qutebrowser
    dst: ~/.config/qutebrowser
  d_mpv:
    src: config/mpv
    dst: ~/.config/mpv
  d_timewarrior:
    src: timewarrior
    dst: ~/.timewarrior
    link: link_children
    upignore:
    - '*.pyc'
    - '**/__pycache__**'
    - .idearc
    - teamwork*
    - extensions
    - '*tmp*'
    - '*.data'
  f_taskrc:
    src: taskrc
    dst: ~/.taskrc
  f_tmux.conf:
    src: tmux.conf
    dst: ~/.tmux.conf
  f_ideavimrc:
    src: ideavimrc
    dst: ~/.ideavimrc
  d_astronvim_user:
    src: config/nvim/lua/user
    dst: ~/.config/nvim/lua/user
    actions:
    - install_astronvim
  f_zprofile:
    src: zprofile
    dst: ~/.zprofile
    chmod: '755'
  f_config.yml:
    src: config/jesseduffield/lazygit/config.yml
    dst: ~/.config/jesseduffield/lazygit/config.yml
  f_electron-flags.conf:
    src: config/electron-flags.conf
    dst: ~/.config/electron-flags.conf
  f_electron12-flags.conf:
    src: config/electron-flags.conf
    dst: ~/.config/electron12-flags.conf
  f_electron18-flags.conf:
    src: config/electron-flags.conf
    dst: ~/.config/electron18-flags.conf
  f_electron20-flags.conf:
    src: config/electron-flags.conf
    dst: ~/.config/electron20-flags.conf
  f_code-flags.conf:
    src: config/code-flags.conf
    dst: ~/.config/code-flags.conf
  d_roles:
    src: config/shell_gpt/roles
    dst: ~/.config/shell_gpt/roles
  d_yofi:
    src: config/yofi
    dst: ~/.config/yofi
profiles:
  braden-desktop:
    dotfiles:
    - f_vimrc
    - d_fontconfig
    - f_gitconfig
    - d_yay
    - f_czrc
    - f_zshrc
    - f_zshenv
    - d_omz_custom
    - d_scripts
    - d_hotkeys
    - d_autofs
    - d_direnv
    - d_sway
    - f_xresources
    - f_xdefaults
    - d_environment.d
    - d_alacritty
    - d_waybar
    - d_wofi
    - d_mako
    - f_p10k.zsh
    - d_qutebrowser
    - d_mpv
    - d_timewarrior
    - f_taskrc
    - f_tmux.conf
    - f_ideavimrc
    - d_astronvim_user
    - f_zprofile
    - f_config.yml
    - f_electron-flags.conf
    - f_electron12-flags.conf
    - f_electron18-flags.conf
    - f_electron20-flags.conf
    - f_code-flags.conf
    - d_roles
    - d_yofi
    variables:
      dpi: 109
      system_font: Noto Sans Display
      system_font_mono: Noto Mono
      gpu_vdpau: nouveau
  braden-pc:
    include:
    - braden-desktop
    variables:
      dpi: 192
      system_font: Noto Sans Display
      system_font_mono: Noto Mono
      gpu_vdpau: nouveau
