# vim: set ft=toml:

width=1200
height=800
# font = "/usr/share/fonts/TTF/Noto Sans Regular Nerd Font Complete.ttf"
font = "/usr/share/fonts/TTF/NotoSansNerdFont-Regular.ttf"

bg_color = 0x1a1a1ad9

[list_items]
hide_actions = true
item_spacing = 4

[icon]
size = 24
# For the icon search path, by default "hicolor" is used which usually not what you want.
theme = "Arc-Dark"
# If no icon found for an entry, this one will be used instead
fallback_icon_path = "/usr/share/icons/Adwaita/16x16/categories/applications-engineering-symbolic.symbolic.png"

